/* TODO: Check ems and pxs for line height and letter spacing */

/******************************************************************************/
/* Main body */

body {
    background-color: #e9ebee;
    font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: -0.02em;
    line-height: 1.38;
}

.content-main {
    width: 502px;
}

.AdaptiveMedia, .AdaptiveMedia-video {
    width: 476px;
    border-radius: 0px;
}

@media (min-width: 1236px) {
    body.three-col .content-main {
        margin-left: 190px;
    }
    body.three-col .wrapper {
        width: 1219px;
        padding: 55px 0px 55px;
    }
}

.dashboard-left {
    width: 180px;
    position: fixed;
}

.dashboard-right {
    width: 310px;
}

/******************************************************************************/
/* Top Nav */
.global-nav {
    height: 42px;
    border-bottom: 0px;
}

.global-nav-inner {
    background-color: #3b5998;
    height: 42px;
    border-bottom: 1px solid #29487d;
}

@media screen and (min-width: 1236px){
    .global-nav .container {
        max-width: 1219px;
    }

    .bird-topbar-etched {
        left: 0px;
        margin-left: 0px;
        color: white;
        margin-top: 12px;
    }
}

.global-nav-inner .pull-right {
    float: left;
    margin-left: 32px;
}

.global-nav [role=navigation] {
    float:right;
}

.global-nav .form-search {
    margin-top: 9px;
    height: 24px;
    width: 446px;
}

.global-nav .search-input {
    height: 24px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 100;
    padding-left: 6px;
    line-height: 1.34;
    background-color: #fff;
    color: #90949c;
    -webkit-font-smoothing: antialiased;
}

.global-nav .search-icon {
    width: 46px;
    top: 0px;
    right: 0px;
    height: 24px;
    background-color: #f6f7f9;
    border-radius: 0px 2px 2px 0px;
}

.global-nav .search-icon .Icon {
    width: 16px;
    margin: auto;
    display: block;
    height: 24px;
}

.Icon--search:before {
    content: "";
    background-image: url(fb_sprite2.png);
    background-position: -11px -729px;
    height: 16px;
    margin-left: 1px;
}

.nav>li {
    color:#fff;
}

.nav>li>a {
    font-weight: bold;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    letter-spacing: -0.24px;
    -webkit-font-smoothing: antialiased;
}

li.topbar-tweet-btn {
    display: none;
}

/******************************************************************************/
/* Tweet box */

.tweet {
    padding: 12px
}

.stream-item {
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.stream-item-header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 8px;
}

/******************************************************************************/
/* Tweet profile */

.fullname {
    color: #365899;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.24px;
    line-height: 19.32px;
}

.username {
    display: none
}

.time {
    display: block
}

.time:before {
    display: none
}

.time:after {
    content: "";
    background-image: url(fb_sprite.png);
    width: 12px;
    display: inline-block;
    background-position: -70px -98px;
    position: relative;
    bottom: -1px;
    left: -2px;
    height: 12px;
}

.time a {
    font-size: 12px;
    line-height: 16.08px
}

.time a:after {
    content: "\00b7";
    padding-left: 3px;
}

.js-tweet-text-container {
    clear: left;
    margin-top: 13px;
}

.stream-item .content {
    margin-left: 0px;
}

/******************************************************************************/
/* Tweet context */
.tweet>.context, .tweet>.context .with-icn {
    margin-left: 0px;
}

.tweet>.context .with-icn{
    border-bottom:1px solid #e9e9e9;
    padding-bottom: 8px;
    margin-bottom: 10px;
    letter-spacing: -0.02em;
    line-height: 1.38;
    color: #90949c;
}

.tweet .context .pretty-link b {
    color: #365899;
    font-weight: bold;
}

.tweet>.context .with-icn .Icon {
    margin-right:0px;
}

.ProfileTweet-action--more {
    position:relative;
    top:-40px;
}

.ProfileTweet-action--favorite {
    position:relative;
    left:-160px;
}

.ProfileTweet-action--retweet {
    position:relative;
    left:310px;
}

.ProfileTweet-action--reply {
    position:relative;
    left:315px;
}

.HeartAnimation {
    background:url(fb_sprite.png);
    background-position: -34px -67px;
    background-size: inherit;
    left:0;
    top:0;
}

.ProfileTweet-action--favorite:hover
.HeartAnimation,.ProfileTweet-action--favorite .ProfileTweet-actionButton:focus
.HeartAnimation,.favorited .ProfileTweet-action--favorite .HeartAnimation {
    background-position: -34px -67px    
}

.ProfileTweet-actionCount {
    font-weight:normal;
    letter-spacing: -0.02em;
    line-height: 20px;
    margin-left:0px;
}

.Icon--retweet:before, .Icon--reply:before {
    content: "Shares";
    font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    top: -2px;
    letter-spacing: -0.02em;
    -webkit-font-smoothing: subpixel-antialiased;
}

.Icon--retweet:before {
    content: "Retweets";
}

.Icon--reply:before {
    content: "Replies";
}

/******************************************************************************/
/* In case you missed it*/

.stream-item.separated-module {
    padding:12px;
}

.recap-module .stream-item {
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
}

.content-main .stream-items .recap-module>.stream-item:last-child, .content-main
.stream-items .recap-module>.stream-item:last-child .tweet, .content-main
.stream-items .recap-module>.stream-item>li:last-child, .content-main
.stream-items .recap-module>.stream-item:last-child li:last-child,
.stream-item.separated-module+.stream-item,
.stream-item.separated-module+.stream-item .tweet:hover,
.PromptbirdPrompt-streamItem.separated-module+.stream-item,.stream-item.separated-module {
    border-radius: 0px;
}

.recap-module .AdaptiveMedia, .recap-module .AdaptiveMedia-video {
    width: 450px;
}

.recap-module .ProfileTweet-action--retweet {
    left: 280px;
}

.recap-module .ProfileTweet-action--reply {
    left: 285px;
}

.recap-module .tweet {
    border-bottom: 0px;
}
    
.recap-header {
    color: #90949c;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.38;
    border-bottom: 0px;
    padding: 0px 0px 6px 0px;
}

/******************************************************************************/
/* Twitter Cards */

.TwitterCardsGrid {
    background-color: #fff;
}

.TwitterCard-container {
    border-radius: 0px;
}

.TwitterCard-title {
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 22px;
    color: #1d2129;
}

.TwitterCardsGrid-col--spacerTop {
    font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #1d2129;
    padding-top: 1px;
}

.TwitterCard .SummaryCard-destination {
    color: #90949c;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    padding-top: 5.5px;
}

.player-container {
    border-radius: 0px;
}

/******************************************************************************/
/* Profile picture */

.DashboardProfileCard {
    background: inherit;
}

.DashboardProfileCard-avatarContainer {
    width: 20px;
}

.DashboardProfileCard-bg {
    height: 0px;
    border: 0px;
}

.DashboardProfileCard-avatarLink {
    margin:4px 0px 0px 0px;
    padding: 0px;
}

.DashboardProfileCard-avatarImage {
    border-radius: 0px;
    border: 0px;
    height: 20px;
    width: 20px;
}

.DashboardProfileCard-avatarImage .Icon {
    margin: 1px 0px 0px 2px;
}

.Icon--extraLarge {
    font-size: 16px;
}

.DashboardProfileCard-userFields {
    top: 2px;
    left: 27px;
    width: 151px;
}

.DashboardProfileCard-name {
    font-size: 12px;
    font-weight: normal;
    color: #1d2129;
}

.DashboardProfileCard .account-group .UserBadges {
    position: absolute;
    top: -2px;
    right: 4px;
}

/******************************************************************************/
/* Profile Stats */

.ProfileCardStats {
    margin-left: 0px;
    margin-top: 4px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.ProfileCardStats .ProfileCardStats-stat {
    display: inline;
}

.ProfileCardStats-statLabel {
    width: 126px;
    float: left;
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 28px;
    text-transform: none;
    color: #1d2129;
    padding-left: 28px;
}

.ProfileCardStats-statValue {
    color: #90949c;
    font-size: 11px;
    line-height: 28px;
    text-align: right;
    padding-top:0px;
}

/******************************************************************************/
/* Follower requests */

.dashboard-left .module .flex-module {
    padding: 0px;
    background-color: #e9ebee;
}

.follower-request-link {
    background-color: #e9ebee;
    background-image: none;
    color: #4b4f56;
    font-size: 11px;
    line-height: 17px;
    padding: 2px 0px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}
