/******************************************************************************/
/* Background color */
body {
    background-color: #e9ebee;
    font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

/******************************************************************************/
/* Top Nav */
.global-nav-inner {
    background-color: #3b5998;
    border-bottom: 1px solid #29487d;
}

.nav>li {
    color:#fff;
}

.nav>li>a {
    font-weight: bold;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    letter-spacing: -0.24px;
    -webkit-font-smoothing: antialiased;
}


/******************************************************************************/
/* Tweet structure */
.stream-item {
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.stream-item-header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 8px;
}

.fullname {
    color: #365899;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.24px;
    line-height: 19.32px;
}

.username {
    display: none
}

.time {
    display: block
}

.time:before {
    display: none
}

.time:after {
    content: "\00b7";
    background-image: url(fb_sprite.png);
    width: 12px;
    display: inline-block;
    /* TODO: Fix the background */
    background-position: -70px -98px;
}

.time a {
    font-size: 12px;
    line-height: 16.08px
}

.js-tweet-text-container {
    clear: left;
    margin-top: 13px;
}

.stream-item .content {
    margin-left: 0px;
}
