/* TODO: Check ems and pxs for line height and letter spacing */

/******************************************************************************/
/* Background color */

body {
    background-color: #e9ebee;
    font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: -0.02em;
    line-height: 1.38;
}

/******************************************************************************/
/* Main body */

.content-main {
    width: 502px;
}

.AdaptiveMedia, .AdaptiveMedia-video {
    width: 476px;
}

/******************************************************************************/
/* Top Nav */
.global-nav-inner {
    background-color: #3b5998;
    border-bottom: 1px solid #29487d;
}

.nav>li {
    color:#fff;
}

.nav>li>a {
    font-weight: bold;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    letter-spacing: -0.24px;
    -webkit-font-smoothing: antialiased;
}

/******************************************************************************/
/* Tweet box */

.tweet {
    padding: 12px
}

.stream-item {
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.stream-item-header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 8px;
}

/******************************************************************************/
/* Tweet profile */

.fullname {
    color: #365899;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.24px;
    line-height: 19.32px;
}

.username {
    display: none
}

.time {
    display: block
}

.time:before {
    display: none
}

.time:after {
    content: "";
    background-image: url(fb_sprite.png);
    width: 12px;
    display: inline-block;
    background-position: -70px -98px;
    position: relative;
    bottom: -1px;
    left: -2px;
    height: 12px;
}

.time a {
    font-size: 12px;
    line-height: 16.08px
}

.time a:after {
    content: "\00b7";
    padding-left: 3px;
}

.js-tweet-text-container {
    clear: left;
    margin-top: 13px;
}

.stream-item .content {
    margin-left: 0px;
}

/******************************************************************************/
/* Tweet context */
.tweet>.context, .tweet>.context .with-icn {
    margin-left: 0px;
}

.tweet>.context .with-icn{
    border-bottom:1px solid #e9e9e9;
    padding-bottom: 8px;
    margin-bottom: 10px;
    letter-spacing: -0.02em;
    line-height: 1.38;
    color: #90949c;
}

.tweet .context .pretty-link b {
    color: #365899;
    font-weight: bold;
}

.tweet>.context .with-icn .Icon {
    margin-right:0px;
}

.ProfileTweet-action--more {
    position:relative;
    top:-40px;
}

.ProfileTweet-action--favorite {
    position:relative;
    left:-160px;
}

.ProfileTweet-action--retweet {
    position:relative;
    left:310px;
}

.ProfileTweet-action--reply {
    position:relative;
    left:315px;
}

.HeartAnimation {
    background:url(fb_sprite.png);
    background-position: -34px -67px;
    background-size: inherit;
    left:0;
    top:0;
}

.ProfileTweet-action--favorite:hover
.HeartAnimation,.ProfileTweet-action--favorite .ProfileTweet-actionButton:focus
.HeartAnimation,.favorited .ProfileTweet-action--favorite .HeartAnimation {
    background-position: -34px -67px    
}

.ProfileTweet-actionCount {
    font-weight:normal;
    letter-spacing: -0.02em;
    line-height: 20px;
    margin-left:0px;
}

.Icon--retweet:before, .Icon--reply:before {
    content: "Shares";
    font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    top: -2px;
    letter-spacing: -0.02em;
    -webkit-font-smoothing: subpixel-antialiased;
}

.Icon--retweet:before {
    content: "Retweets";
}

.Icon--reply:before {
    content: "Replies";
}
